<div class="container"
      fxLayout="row"
      fxLayoutGap="40"
     >
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
    <mat-card >
      <mat-card-header>
        <mat-card-title>
          {{dish.name}}
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{baseURL + dish.image}}" alt="{{dish.name}}">
      <mat-card-content>
        {{dish.description}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail',prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button [routerLink]="['/dishdetail',next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" fxLayout="column" *ngIf="dish" [@visibility]="visibility">
    <h1>Comments</h1>
    <mat-list>
      <mat-list-item  *ngFor="let com of dish.comments">
        <p matLine>{{com.comment}}</p>
        <p matLine>{{com.rating}} Stars</p>
        <p matLine>--{{com.author}} {{com.date }}</p>
      </mat-list-item>
      <mat-list-item *ngIf="commentForm.valid">
        <p matLine>{{commentForm.value.comment}}</p>
        <p matLine>{{commentForm.value.rating}} Stars</p>
        <p matLine>-- {{commentForm.value.author}}</p>
      </mat-list-item>
    </mat-list>

      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Name" formControlName="author" required>
          <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        </mat-form-field>

        <mat-slider thumbLabel min="0" max="5" step="1" [displayWith]="formatLabel" aria-label="units" tickInterval="1" formControlName="rating">
          <mat-error *ngIf="formErrors.rating">{{formErrors.rating}}</mat-error>

        </mat-slider>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="comment" placeholder="Your Feedback" rows=12 required></textarea>
            <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
          </mat-form-field>
        </p>
        <button mat-button color="#FFFFFF" class="primary" [disabled]="commentForm.invalid">Submit</button>
      </form>
  </div>
</div>
<div fxFlex  [hidden]="dish || errMsg">
  <mat-spinner></mat-spinner><h4>Loading... Please wait</h4>
</div>
<div fxFlex *ngIf="errMsg">
  <h2>Error</h2>
  <h4>{{errMsg}}</h4>
</div>

